/* цвет основного текста #212121*/
/* вторичный цвет текста #757575 */
/* фон белый #ffffff */
/* вторичный цвет фона #F5F4FA */
/* черный #212121 */
/* акцент синий #2196F3 */
/* фон футера rgba(255, 255, 255, 0.6) */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primery-link-color: #afb1b8;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --footer-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* utilities */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1170px;
  outline: 2px solid tomato;
}

/* logo */
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;
}

.logo .last-name {
  color: var(--title-text-color);
}

.logo .last-name.text {
  color: var(--primary-white-color);
}
/* page-header */

.page-header {
  background: mistyrose;
}
/* site-nav */
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* auth nav */

.auth-nav .contacts {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav .contacts:hover,
.auth-nav .contacts:focus {
  color: var(--accent-color);
}

/* hero */

.hero {
  background: grey;

  text-align: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 46px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

/* button */

.button {
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  text-align: center;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  border: 1px solid transparent;

  font-weight: 700;
  font-size: 16px;
  min-width: 200px;
  line-height: 1.78;
  letter-spacing: 0.06em;
  text-decoration: none;
}

/* features */

.section .hidetitle {
  display: none;
}

.features-list .text {
  margin-top: 0;
  margin-bottom: 0;
}

.features-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
}

/* work list */

.work-list .title {
  margin-top: 0;
  margin-bottom: 0;
  padding: 27px;
  text-align: center;

  width: 370px;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  font-weight: 700;
  line-height: 1.14;
}
/* team */
.team-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list .item {
  margin-top: 0;
  margin-bottom: 20px;
  display: inline-block;

  font-size: 16px;
  line-height: 1.19px;
}
.team-list .link:hover,
.team-list .link:focus {
  color: var(--accent-color);
}

.team-list .link {
  text-decoration: none;
}

.social-list {
  padding-bottom: 24px;
}

/* customers */

/* footer */

.page-footer {
  color: var(--footer-text-color);
  background-color: var(--footer-bg-color);
}

.address {
  color: var(--primary-white-color);
  font-style: normal;
  line-height: 1.71;
}

.footer-nav .contacts {
  color: var(--footer-text-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-nav .contacts:hover,
.footer-nav .contacts:focus {
  color: var(--accent-color);
}

.action {
  color: var(--primary-white-color);
}

.footer-top .link {
  color: var(--footer-text-color);
  text-decoration: none;
}

.footer-top .link:hover,
.footer-top .link:focus {
  color: var(--accent-color);
}

.copyrigt {
  line-height: 1.71;
}
